* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

/* Animação */

@keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }

    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}

@keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
}
  
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* Menu */

header {
    height: 70px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #0F1314;
    justify-content: space-between;
    z-index: 1000;
}

header a {
    color: #F2F2F0;
    text-decoration: none;
}

/* Logo */

a > i {
    font-size: 1.7em;

}

a:hover {
    color: #3498db;
}

/* MENU ANTES DA ANIMAÇÃO */

header ul {
    display: flex;
    list-style: none;
    gap: .5rem;
}

ul a {
    padding: .5rem;
}

nav>button {
    display: none;
    background-color: #000;
}

/* TELA INICIO */

main {
    width: 100%;
    height: 100vh;
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./Assets/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

/* Section */

.box {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: #F2F2F0;
    padding: 2rem;
}

.box h1 {
    font-size: 3em;
}

.box p {
    text-align: center;
    font-size: 1.5rem;
}

/* Conteudo Section */

.box-content {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.btn-model-blue {
    width: auto;
    height: 50px;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: .85em;
    padding: 1.2em 2.8em;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none;
}

.btn-model-blue:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* Tela sobre mim */

aside{
    width: 100%;
    height: calc(100vh - 70px);
    font-size: .85rem;
    display: flex;
    gap:.5rem;
    background-image: linear-gradient(to right, #F2F2F0 , #0F1314);
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;  
}

.box-aside{
    width: 50%;
    font-size: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: #0D0D0D;
}

.box-aside > p{
    text-align: justify;
}

.aside-info{
    padding:0 3em 0 3em;
    gap: 1em; 
}

.box-aside > h1{
    font-size: 3em;
    border-left: solid 6px black;
    padding-left: .3em;
}

.aside-info > a{
    text-decoration: none;
    color: #0D0D0D;
    
}

.btn-model-red{

    width: 20%;
    height: 50px;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-size: .85em;
    padding: 1.2em 2.8em;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #A51E0F;
    color: #fff;
    box-shadow: 0 0 10px 0 #A51E0F inset, 0 0 0 0 #A51E0F;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    text-decoration: none;
}

.btn-model-red:hover{
    box-shadow: 0 0 10px 0 #A51E0F inset, 0 0 10px 4px #A51E0F
}


.aside-img{
    align-items: center;
}

.about-img{
    font-size: 8em;
    color: #F2F2F0;
}

/* TELA PROJETOS */

.container-projects{  
    width: auto;
    height: calc(100vh - 70px);
    background-color: #F5F5F5;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-projects > h1{
    font-size: 1.5em;
    align-self: flex-start;
    margin: .5em;
    border-left: solid 10px black;
    padding-left: .3em;
}

.box-projects{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
}

.project{
    font-size: 1rem;
    min-width:25% ;
    height: 40vh;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: .5em;
    animation: shadow-pop-tl 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.project > h1{
    text-align: center;
    
}

.project a{
    width:50%;
    height: 50px;
    font-size: 60%;
    color: black;
    border-color: black;
    box-shadow: 0 0 10px 0 grey inset, 0 0 0 0 grey;
}

.project a:hover{
    box-shadow: 0 0 10px 0 grey inset, 0 0 10px 4px grey;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 912px) {

    .box {
        width: auto;
        justify-content: center;
    }

    .box h1 {
        font-size: 5em;
    }

    .box p {
        text-align: center;
        font-size: 3em;
    }

    /* TELA SOBRE MIM */

    aside{
        justify-content: center;
        background-image: linear-gradient(to top, #F2F2F0 , #0F1314);
    }
    
    .box-aside{
        padding: 2em;
    }

    .aside-info{
        width: 80%;
        gap: 2em;
    }
    
    .box-aside > p{
        text-align: justify;
    }

    .btn-model-red{
        width: 30%;
        padding: 1em;
    }
    
    .aside-img{
        display: none;
    }

    /* Tela projetos */

    .container-projects{
        font-size: 1.5rem;

    }


    .project{
        margin-left: 3em;
        height: 30vh;;
    }



}

@media only screen and (max-width: 850px) {

    .box {
        width: auto;
        justify-content: center;
        text-align: center;
        font-size: .7rem;
    }

}

@media only screen and (max-width: 600px) {

    header {
        flex-direction: row-reverse;
    }

    nav>button {
        display: block;
        border: none;
        padding: .6rem;
        cursor: pointer;
    }

    /* Menu escondido */

    nav ul {
        display: block;
        position: absolute;
        width: auto;
        top: 70px;
        right: 0;
        height: 0;
        left: .1rem;
        transition: .6s;
        z-index: 1000;
        /* Visibility trabalha como o display none a diferenca que o transition reconhece ele assim causando animacao quando o elemento esta visivel ou nao */
        visibility: hidden;
        /* PARA ESCONDER A LI QUANDO O MENU ENTRAR EM VISIBILITI HIDEN */
        overflow-y: hidden;
        background-color: #0D0D0D;
        color: #F2F2F0;
    }

    /* Animação menu */

    #nav.active #menu {
        /* Usando -70px pelo fato der ter 70px no top */
        height: calc(100vh - 70px);
        visibility: visible;
    }

    #menu li {
        margin-bottom: 10px;
        padding: .5rem;
    }

    #menu a {
        padding: .1rem 0;
        margin: 0 .1rem;
        border-bottom: 2px solid rgba(230, 224, 224, 0.179);
    }

    .hamburger {
        height: 20px;
        width: 20px;
        border-top: 1px solid #F2F2F0;
        margin-top:5px ;
        
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        /* Se  nao passar nenhum conteudo tem que declarar que o display e block para ele pegar o width e o height */
        display: block;
        height: 1px;
        width: 20px;
        background: #F2F2F0;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    nav.active #hamburger {
        border-top-color: transparent;
    }

    nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    /* TELA HOME*/

    .box{
        font-size: .7rem;
    }

    .box h1{
        font-size: 3.5em;
    }

    .box p{
        font-size: 2em;
    }

    /* TELA SOBRE MIM */


    .btn-modal-red{
        margin-top: 1em;
    }
}

@media only screen and (max-width: 450px) {

    .box {
        text-align: center;
        height: 80vh;

    }

    .box h1 {
        font-size: 3em;
    }

    .box p {
        font-size: 1.8em;

    }

    .box-content {
        flex-direction: column;
        gap: 2em;
    }

    .btn-profile {
        width: 100%;
    }

    /* TELA SOBRE MIM */

    aside{
        align-items: center;
        justify-content: center;
    }

    .box-aside{
        font-size: .9em;
        padding: 2rem;
    }

    .box-aside > h1{
        font-size: 2em;
        
    }

    .box-aside > p {
        text-align: justify;
        font-size: 1em;
    }

    .btn-model-red{
        width: 50%;
        height: 30px;
        padding: 1em;
        margin: auto;

     } 

    /* Tela projetos */
    .container-projects{
        font-size: 1rem;
    }

   

    .project{
        font-size: .7rem;
        margin: 0 0 1.5em 0;
        height: 24vh;
        min-width: 250px;
    }

    .project h1{
        font-size: 1em;
    }

    .project h2{
        font-size: .7em;
    }

    .project p{
        font-size: .7em;
    }

    .project a{
        height: 30px;
    }



}

@media only screen and (max-width: 280px) {}