.cartao__conteudo{
    display: flex;
    padding: .3rem;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.conteudo{
    color: var(--azul-marinho);
    font-size: 2em;
    vertical-align:-0.1875em;
}