.experiencia{
    align-items: center;
    background-color: var(--verde-musgo);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width:768px) {
    .experiencia{
        justify-content: flex-start;
    }

   
}