.experiencia{
    align-items: center;
    background-color: var(--verde-musgo);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


@media screen and (max-width:936px) {
    .experiencia{
        flex-direction: column;
        align-items: inherit;
    }

    .experiencia:nth-child(odd){
        flex-direction: column-reverse;
    }
    
}