.sobre{
    flex-direction: row-reverse;
    background: var(--branco);
    display: flex;
    padding: 2.5rem;
    gap:2rem;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .sobre{
        padding: 2.5rem 1rem;
        flex-wrap: wrap;
        gap: 1.2rem;
    }    
}
