.sobre__img{
    width: 250px;
    height: 250px;
    border: solid 5px var(--verde-musgo);
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .sobre__img{
        margin: auto;
    }    
}