.formacao{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(296px,1fr));
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3rem;
   
}